[package]
name = "eszip"
version = "0.14.1"
authors = ["Ryan Dahl <ry@tinyclouds.org>"]
edition = "2018"
description = "A utility that can download JavaScript and TypeScript module graphs and store them locally in a special zip file"
license = "MIT"

[lib]
name = "eszip"
path = "src/lib.rs"

[dependencies]
base64 = "0.13"
deno_ast = { version = "0.5", features = ["codegen", "dep_graph", "proposal", "react", "sourcemap", "transforms", "typescript", "visit"] }
futures = "0.3"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }
serde = "1"
serde_json = "1"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-util = "0.6.9"
bytes = "1.1.0"
url = { version = "2", features = ["serde"] }
data-url = "0.1.0"

[dev-dependencies]
indicatif = "0.16"
