[package]
name = "eszip"
version = "0.6.0"
authors = ["Ryan Dahl <ry@tinyclouds.org>"]
edition = "2018"
description = "A utility that can download JavaScript and TypeScript module graphs and store them locally in a special zip file."
license = "MIT"

[lib]
name = "eszip"
path = "src/lib.rs"

[dependencies]
base64 = "0.13"
futures = "0.3"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls"] }
serde = "1"
serde_json = "1"
swc_common = { version = "0.10", features = ["sourcemap"] }
swc_ecmascript = { version = "0.27.0", features = ["codegen", "dep_graph","parser", "react", "transforms", "visit", "proposal", "typescript"] }
thiserror = "1"
tokio = { version = "1", features = ["full"] }
url = { version = "2", features = ["serde"] }

[dev-dependencies]
indicatif = "0.15"
