name: ci
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04-xl

    env:
      RUST_BACKTRACE: full
      # https://github.com/rust-unofficial/patterns/blob/master/anti_patterns/deny-warnings.md
      RUSTFLAGS: -D warnings

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy

      - name: Install Deno
        uses: denoland/setup-deno@v1.0.0
        with:
          deno-version: 1.x

      - name: Setup WASM
        run: |
          rustup target add wasm32-unknown-unknown
          cargo install wasm-bindgen-cli
          deno install --unstable -A -f -n wasmbuild https://raw.githubusercontent.com/denoland/wasmbuild/7b714ee749e4dc1e4ed1bc6f7258235a6c289aec/main.ts

      - name: Clippy
        run: cargo clippy --all-targets

      - name: Build
        run: make

      - name: Test
        run: cargo test --all-targets
