name: ci
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04-xl

    env:
      RUST_BACKTRACE: full
      # https://github.com/rust-unofficial/patterns/blob/master/anti_patterns/deny-warnings.md
      RUSTFLAGS: -D warnings

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Deno
        uses: denoland/setup-deno@v1.0.0
        with:
          deno-version: 1.x

      - uses: actions/setup-node@v2
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Clippy
        run: cargo clippy --all-targets --locked

      - name: Build
        run: |
          deno task release
          deno task node

      - name: Test
        run: |
          cargo test --all-targets --locked
          deno task test

      - name: Check Wasm up to date
        run: deno task build --check

      - name: Publish
        if: |
          github.repository == 'denoland/eszip' &&
          startsWith(github.ref, 'refs/tags/')
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          cargo publish -vv
          rm -rf npm/
          deno run -A ./build_npm.ts ${{ github.ref_name }}
          cd npm/ && yarn publish
