name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release (e.g. 0.110.0)'
        required: true

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.DENOBOT_PAT }}

      - name: Tag and release
        env:
          GITHUB_TOKEN: ${{ secrets.DENOBOT_PAT }}
          GH_WORKFLOW_ACTOR: ${{ github.actor }}
        run: |
          git config user.email "denobot@users.noreply.github.com"
          git config user.name "denobot"
          git tag v${{ github.event.inputs.version }}
          git push origin v${{ github.event.inputs.version }}
